@import url(./fonts.css);

/*
 This template built with 
 Visual Bootstrap Website Generator
 by Bootstraptor
 BLUEPRINTS APP
 get more freebies https://gumroad.com/blueprintsapp
 
 Get Visual Generator: 
 https://blueprintsapp.launchaco.com
 
 */
 @font-face {
  font-family: 'bio_sansregular';
  src: url('../fonts/bio_sans_regular-webfont.woff2') format('woff2'),
       url('../fonts/bio_sans_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  font-size: 0.9rem;font-family: 'bio_sansregular';
  /* font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal; */
  /* text-transform: capitalize; */
}

.btn:hover {
  background: #1b706d !important;
  color: #fff;
}

.container {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 8%;
  padding-right: 8%;
}

.banner-info-section {
  position: absolute;
  top: 10%;
  /* top: 16%; when banner image have sed*/
  left: 0;
  right: 0;
}

.bg-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

/* css */

.navbar {

  /* New code */
  background: #000906 url(../images/header-bg-new.png) no-repeat right 0px;
  padding: 23px 0px 23px;
  position: relative;
  overflow: visible;
  background-size: 90% 100%;
}

.navbar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 9px;
  background: url(../images/header-bg-sp.png) repeat-x center bottom;
  bottom: -1px;
}

.elite-banner-section {
  background: url(../images/banner-one.jpeg) no-repeat center bottom;
  background-size: cover;
  /* min-height: 800px; */
}

.elite-banner-section .input-wrap .input-group-text,
.value-my-car-form .input-wrap .input-group-text {
  display: block;
  background-color: #2B317D;
  color: #fff;
}

.elite-banner-section .input-wrap .input-group-text p,
.value-my-car-form .input-wrap .input-group-text p {
  font-size: 12px;
  margin-bottom: 0;
}

.elite-banner-section .mileage-input {
  margin-top: 1.5rem;
}

.elite-banner-section .mileage-input label {
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.elite-banner-section .input-wrap .form-control,
.elite-banner-section .input-wrap .form-control::placeholder,
.instant-payment-section .input-wrap .form-control,
.value-my-car-form .input-wrap .form-control,
.value-my-car-form .input-wrap .form-control::placeholder {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.elite-banner-section .mileage-input input.form-control,
.elite-banner-section .mileage-input input.form-control::placeholder {
  font-weight: 400;
  font-size: 20px;
}

.elite-banner-section .mileage-input input.form-control,
.elite-banner-section .mileage-input input.form-control::placeholder {
  text-transform: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.elite-banner-section .sell-us-text {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 2.8rem;
}

.navbar-brand img {
  width: 170px;
  min-height: 60px;
}

.navbar-nav .nav-item a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.fs-16 {
  font-size: 16px;
}

.input-wrap {
  max-width: 438px;
}

.value-btn {
  background-color: #00A19B;
  border: inherit;
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 1.55rem;
  margin-top: 35px;
  font-weight: 500;
}

.guranter-section {
  background-color: #565F64;
}

.guranter-section ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin: 0;
}

.guranter-section ul li {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border-right: 1px solid #A2A4A6;
  position: relative;
  padding: 15px 0;
  margin-right: 2%;
  width: 20%;
  text-align: center;
}

.guranter-section ul li:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}

.guranter-section ul li:first-child {
  padding-left: 0;
}

.guranter-section ul li p {
  margin-bottom: 0;
  position: relative;
  /* padding-left: 40px; */
}

.guranter-section ul li p::before {
  content: '';
  /* position: absolute; */
  width: 30px;
  height: 29px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: left top;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.guranter-section ul li:first-child p::before {

  background-image: url(../images/icons/guranted.png);

}

.guranter-section ul li:nth-child(2) p::before {

  background-image: url(../images/icons/free-collection.png);

}

.guranter-section ul li:nth-child(3) p::before {

  background-image: url(../images/icons/admin-fees.png);

}

.guranter-section ul li:nth-child(4) p::before {

  background-image: url(../images/icons/no-auctions.png);


}

.guranter-section ul li:nth-child(5) p::before {

  background-image: url(../images/icons/dealers.png);

}

.elite-video-section {
  background: url('../images/video-section-img.png') no-repeat left top;
  background-color: #000 !important;
  background-size: cover;
}

.elite-video-section .watch-btn {
  /* max-width: 265px; */
  /* width: 100%; */
  position: relative;
  padding-left: 3.5rem;
  margin-top: 1.2rem;
}
.e3step .step{ display: none;}
.watch-btn::before {
  content: '';
  background: url(../images/icons/play-icon.png);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 18px;
  top: 19px;
}

.card-section {
  gap: 15px;
  display: flex;
  justify-content: space-between;
}

.card-section .box {
  /* max-width: 520px; */
  width: 100%;
  border: 1px solid #084B49;
  border-radius: 8px;
  padding: 50px 40px 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.top-img {
  border-radius: 50%;
  border: 1px solid #232323;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: rgba(35, 35, 35, 50%);
}

.elite-video-section .content-wrap h3 {
  margin-top: 45px;
}

.content-wrap h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
}

.content-wrap p {
  margin-top: 25px;
  /* font-size: 18px;
  color: #ffffff; 
  font-weight: 400;*/
  font-size: 1rem;
  color: #C8CCCE;
}

.section-head {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 54px;
  text-align: left;
}

.elite-video-section .left-wrap .lead {
  font-size: 1rem;
  font-weight: normal;
  color: #C8CCCE;
}

.banner-footer {
  margin-top: 14%;
}

.banner-footer .elite-trupilot-wrap span {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
}

.banner-left-wrap {
  /* margin-top: 18%;
    margin-bottom: 4rem !important; */
}

.banner-footer .elite-trupilot-trust {
  font-size: 1.1rem;
  color: #ffffff;
}

/* Stepper Css */

.stepper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 20px 0 40px;
}

.step {
  width: 48px;
  height: 48px;
  border: 1px solid #565859;
  background-color: #232323;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  z-index: 1;
  font-weight: 500;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #565859;
  z-index: 0;
}

.elite-video-footer {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.elite-video-footer .exce-label {
  color: #ffffff;
  font-weight: 500;
  margin-right: 10px;
}

.elite-video-footer .rating-text {
  color: #C8CCCE;
  font-weight: 400;
}

.elite-car-buyers-section {
  background-color: rgba(0, 0, 0, 96%);
}

.elite-car-buyers-section .top-section .head {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 600;
  margin: 20px 0 17px;
}

.elite-car-buyers-section .top-section p {
  font-size: 1rem;
  color: #C8CCCE;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}

.elite-car-buyers-section .top-section span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.elite-car-buyers-section .content-wrap p {
  font-size: 1rem;
  color: #C8CCCE;
}

.elite-car-buyers-section .card-section {
  margin-bottom: 3.8rem;
}

.elite-car-buyers-section .card-section .box {
  padding: 30px 20px 12px;
}

.elite-always-help-section {
  background: #000 url('../images/always-help-banner.png') no-repeat right;
  min-height: 452px;
}

.elite-always-help-section .left-wrap h3 {
  color: #C8CCCE;
  font-size: 2rem;
  text-transform: capitalize;
}

.elite-always-help-section .left-wrap h2 {
  font-size: 3.6rem;
  color: #ffffff;
  font-weight: 400;
}

.elite-always-help-section .left-wrap h2 span {
  font-weight: 600;
}

.elite-always-help-section .left-wrap .sell-btn button {
  max-width: 280px;
  width: 100%;
}

.elite-customer-section {
  background: #0E0E0E;
  padding-bottom: 3rem;
}

.elite-customer-section .customer-right-section .banner-footer {
  margin-top: 0;
  border: 1px solid #00A19B;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.elite-customer-section .customer-top-wrap .customer-head h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
  margin: 3.7rem 0 1.1rem;
}

.elite-customer-section .customer-top-wrap .customer-head p {
  font-size: 1rem;
  color: #C8CCCE;
  font-weight: 400;
}

.elite-customer-section .banner-footer .elite-trupilot-wrap span,
.elite-customer-section .banner-footer .elite-trupilot-trust {
  font-size: 1rem;
}

.elite-customer-section .banner-footer .elite-trupilot-trust {
  color: #C8CCCE;
}

.elite-customer-section .card-section .box {
  border: 0;
  background-color: rgba(104, 104, 104, 0.15);
  padding: 25px 28px;
}

.elite-customer-section .card-section .top-section {
  display: flex;
  justify-content: space-between;
}

.elite-customer-section .cust-card-right {
  color: #C8CCCE;
  font-size: 1.1rem;
  font-weight: 500;
}

.elite-customer-section .box .content-wrap p {
  color: #888E92;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 5px;
}

.elite-customer-section .cust-card-footer .cust-content h4 {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.elite-customer-section .cust-card-footer .cust-content label {
  color: #878D8F;
  font-size: 0.8rem;
  font-weight: 400;
}

.elite-customer-section .card-section {
  margin-top: 3.8rem;
}

.elite-customer-section .customer-cards .slick-slide {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.elite-customer-section .customer-cards .slick-slider {
  padding-left: 5px;
  padding-right: 5px;
}

.elite-customer-section .customer-cards .slick-arrow {
  position: absolute;
  font-size: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: left top;
  width: 100%;
  height: 100%;
  max-width: 55px;
  max-height: 55px;
  background-color: transparent;
  right: 0;
  bottom: -80px;
}

.elite-customer-section .customer-cards .slick-arrow.slick-next {
  background-image: url(../images/nextArrow.png);
}

.elite-customer-section .customer-cards .slick-arrow.slick-prev {
  background-image: url(../images/preArrow.png);
  right: 67px;
}

.elite-customer-section .elite-video-footer {
  margin-top: 2rem;
  justify-content: flex-start;
  font-size: 1.1rem;
  color: #C8CCCE;
  font-weight: 300;
}

.elite-customer-section .elite-video-footer label {
  font-weight: 300;
}

.elite-customer-section .elite-video-footer a {
  color: #00A19B;
  font-size: 1.2rem;
  font-weight: 600;
}

.elite-latest-news-setion {
  background-color: #000000;
}

.elite-latest-news-setion .elite-latest-news-top h2 {
  font-size: 3.25rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 24px;
}

.mt-5 {
  margin-top: 3.1rem !important;
}

.elite-latest-news-setion .elite-latest-news-top p {
  font-size: 1rem;
  color: #C8CCCE;
}

.elite-latest-news-setion .card-section .box {
  border: 0;
  background-color: rgba(104, 104, 104, 0.15);
}

.elite-latest-news-setion .card-section .content-wrap h3 {
  color: #C8CCCE;
  text-align: left;
  border-bottom: 1px solid #565859;
  padding: 0 20px 20px 22px;
  min-height: 165px;

}

.elite-latest-news-setion .card-section .latest-news-footer p {
  font-size: 0.8rem;
  text-align: left;
  color: #C8CCCE;
  margin-top: 24px;
}

.elite-latest-news-setion .card-section .latest-news-footer p span {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
}

.elite-latest-news-setion .card-section .latest-news-footer p label {
  color: #878D8F;
}

.elite-latest-news-setion .card-section .latest-card-img img {
  max-width: 100%;
  width: 100%;
}

.elite-latest-news-setion .card-section .box {
  padding: 10px;
}



/* instant-payment-section */
.instant-payment-section {
  background: #000;
  padding: 3rem 0 3rem;
}

.instant-payment-section .instant-payment {
  text-align: center;
  color: #fff;
  background: #161616;
  border: 1px solid #084B49;
  padding: 1.2rem 1rem;
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
}

.instant-payment-section .input-wrap .input-group-text {
  display: block;
  background-color: #2B317D;
  color: #fff;
  padding: 0.5rem;
}

.instant-payment-section .input-wrap .input-group-text p {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.instant-payment-section .input-wrap .form-control {
  padding: 7px 10px 7px 10px;
}

.instant-payment-section .input-wrap .form-control::placeholder,
.instant-payment-section .input-wrap .form-control {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.car-value-section {
  max-width: 760px;
  margin: 0 auto;
  display: flex; justify-content: center;
}

.car-value-section .input-group {
  max-width: 460px;
  margin-right: 1.2rem;
}

.instant-payment h2 {
  color: #fff;
  font-size: 2.1rem;
  margin: 0 0 0.5rem 0;
  padding: 0;
  text-transform: capitalize;
}

.instant-payment p {
  color: #fff;
  font-size: 1.4rem;
  margin: 0 0 1.7rem 0;
  padding: 0;
  text-transform: capitalize;
}

.btn-value-car {
  background: #00A19B;
  color: #fff;
  font-size: 1.6rem;
}

/* Brands Slider */
.prestigebrands-section {
  background: #0E0E0E;
  padding: 2rem 0;
}

.prestigebrands-section h3 {
  margin: 0;
  padding: 0;
  position: relative;
}

.prestigebrands-section h3 span {
  background: #0E0E0E;
  padding-right: 1.5rem;
  position: relative;
  z-index: 1;
}

.prestigebrands-section h3:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #565859;
  position: absolute;
  right: 0;
  top: 15px;
}

.prestigebrands {
  padding: 0;
  margin: 4.1rem 0 0 0;
}

.prestigebrands div img {
  width: 100px
}

/* Footer Section  */
.footer {
  background: #000;
}

/* .footer-logo-section {
  padding-right: 4.2rem;
} */
.footer-logo-section a{ display: block;}
.footer-logo-section a img{ max-width: 175px;}
.footer-logo-slogan {
  margin: 1.6rem 0 3.3rem 0;
  padding: 0;
}

.footer .social-link h4 {
  margin: 0 0 1.2rem 0;
}

.footer .social-link-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .social-link-list li {
  margin-right: 1.2rem;
}

.footer .social-link-list li a {
  display: flex;
  width: 48px;
  height: 48px;
  background: #00A19B;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.footer-link-section {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-link-section li {
  margin-bottom: 1.3rem;
}

.footer-link-section li a {
  color: #fff;
  text-decoration: none;
}

.main-heading {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.footer .main-heading {
  margin-bottom: 2.5rem;
}

.footer-link-section {
  list-style: none;
  margin: 0;
  padding: 0;
}

.brand-list-section {
  display: flex;
  justify-content: space-between;
}

.copy-right-section {
  border-top: 1px solid #565859;
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  text-align: center;
}

.copy-right-section p {
  margin: 0;
}

.footer-contact-section {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contact-section li {
  margin: 0 0 1.8rem 0;
  background: url(../images/call-icon.png) no-repeat left top;
  padding-left: 3.5rem;
}

.footer-contact-section li span {
  display: block;
  font-size: 1rem;
  color: #C8CCCE;
}

.footer-contact-section li.email-icon {
  background: url(../images/mail-icon.png) no-repeat left top;
  word-wrap: break-word;
}

.footer-contact-section li a {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.what-up-link {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.what-up-link span {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  color: rgb(79, 206, 93);
  font-family: inherit;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  background-color: rgb(255, 255, 255);
}

.what-up-link span:hover {
  background: rgb(229 250 240);
  cursor: pointer;
}

/* Inner pages top banner section */
.pages-top-banner-section {
  padding: 4rem 0
}

.pages-top-banner-section h2 {
  font-size: 3.25rem;
  color: #ffffff;
  font-weight: 600;
}

/* Registration Page */


.value-my-car-form .input-wrap {
  margin: 0 auto 1rem;
}

.value-my-car-form a {
  color: #00a29b;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}

.value-my-car-form a:hover {
  text-decoration: underline;
}

.value-my-car-form .input-wrap .input-group-text {
  display: block;
  background-color: #2B317D;
  color: #fff;
}

.value-my-car-form .input-wrap .input-group-text p {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.value-my-car-form .input-wrap .form-control,
.value-my-car-form .input-wrap .form-control::placeholder {
  font-size: 2.125rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.value-my-car-form .box {
  /* max-width: 680px; */
  margin: 0 auto;
  width: 100%;
  padding: 20px 20px;
}

.value-my-car-form .box form label {
  text-align: left !important;
  display: block;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.value-my-car-form .box form label span {
  color: #ff0000;
}

.value-my-car-form .box form label.form-label {
  display: flex;
  align-items: center;
}

.value-my-car-form .box form label.form-label span {
  font-size: 0.9rem;
  font-weight: 300;
  color: #fff;
  padding-left: 0.3rem;
}

.value-my-car-form .box form input.form-control,.value-my-car-form .box form select.form-select {
  /* font-weight: 200; */
  background-color: rgb(35 35 35 / 55%) !important;
  border: 1px solid #084B49;
  padding: 0.5rem 13px 0.5rem 2.9rem;
  text-shadow: none;
  color: #d9d9d9;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 0;
}
.value-my-car-form .box form select.form-select{ background-image: url(../images/dropdown-arrow.png) !important;background-size: 20px;    padding: 0.5rem 2.2rem 0.5rem 2.9rem;}

.value-my-car-form .box form input.form-control:focus.value-my-car-form .box form select.form-select:focus {
  box-shadow: none !important;
}

.value-my-car-form .box form .btn-value-car {
  font-size: 1.1rem;
}

.input-icon {
  position: relative;
}

.input-icon i {
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  left: 10px;
  top: 9px;
  opacity: 0.3;
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before,
.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #00a29b !important;
}

.tooltip-inner {
  background: #00a29b;
}

.check-box-block {
  margin-right: 1rem;
}

form [type="radio"]:checked,
form [type="radio"]:not(:checked),
form [type="checkbox"]:checked,
form [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

form [type="radio"]:checked+label,
form [type="radio"]:not(:checked)+label,
form [type="checkbox"]:checked+label,
form [type="checkbox"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #fff;
}

form [type="radio"]:checked+label:before,
form [type="radio"]:not(:checked)+label:before,
form [type="checkbox"]:checked+label:before,
form [type="checkbox"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #00a29b;
  border-radius: 100%;
  background: #fff;
}


form [type="radio"]:checked+label:after,
form [type="radio"]:not(:checked)+label:after,
form [type="checkbox"]:checked+label:after,
form [type="checkbox"]:not(:checked)+label:after {
  content: '';
  width: 6px;
  height: 6px;
  background: #00a29b;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

form [type="checkbox"]:checked+label:before,
form [type="checkbox"]:not(:checked)+label:before,
form [type="checkbox"]:checked+label:after,
form [type="checkbox"]:not(:checked)+label:after {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

form [type="checkbox"]:checked+label:after,
form [type="checkbox"]:not(:checked)+label:after {
  background: none;
  height: 17px;
  width: 9px;
  border-bottom: 4px solid #00a29b;
  border-right: 4px solid #00a29b;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
  -moz-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  -o-transform: rotate(45deg) !important;
  top: 1px;
  left: 6px;
}

form [type="radio"]:not(:checked)+label:after,
form [type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

form [type="radio"]:checked+label:after,
form [type="checkbox"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* FAQ section */
section.faq-section {
  /* background: #000; */
  background-image: linear-gradient(#000000, #0E0E0E);
  height: 100%;
}

.faq-pages-top-banner {
  background: url(../images/faq-banner.png) no-repeat bottom center;
  background-size: cover;
}

.faq-sub-heading {
  font-size: 1.7rem;
  color: #00a29b;
  margin: 2.5rem 0 1rem 0;
  padding: 0;
  font-weight: 800;
}

.faq-qustion-section .accordion {
  background: none;
}

.faq-qustion-section .accordion h2 {
  cursor: pointer;
  margin: 0px 0px;
  padding: 16px 15px;
  background-color: #ffffff4a;
  color: #e6e6e6;
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
  border-radius: 5px 5px;
  border-bottom: solid 1px #00a69e;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  position: relative;
}

.faq-qustion-section .accordion h2 span.arrow {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  border: 1px solid #00a29b;
  background: #00a29b;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;font-size: 1rem;
}

.faq-qustion-section .accordion .content {
  background: #0848461c;
  border: 1px solid #00a29b;
  border-top: none;
  padding: 1.5rem;
  color: rgb(255, 255, 255);
  min-height: 80px;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  margin-bottom: 1.1rem;
  font-size: 1.2rem;
}

.faq-qustion-section .accordion .content a {
  color: #00a29b;
  text-decoration: none;
}

.faq-qustion-section .accordion .content a:hover {
  color: #00a29b;
  text-decoration: underline;
}

.faq-qustion-section .accordion h2.active {
  background-color: #00a29b;
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.faq-qustion-section .accordion h2.active span.arrow {
  color: #00a29b;
  border: 1px solid #fff;
  background: #fff;
}

.faq-qustion-section .accordion h2 span.arrow .fas {
  display: none;
}

.faq-qustion-section .accordion h2.active span.arrow .fa-angle-up {
  display: block;
}

.faq-qustion-section .accordion h2.active span.arrow .fa-angle-down {
  display: none;
}

.faq-qustion-section .accordion h2 span.arrow .fa-angle-down {
  display: block;
}

/* Not your car */

.notcar-page h3,.notcar-page p{ color: #fff;}
.notcar-page h3{ font-size: 1.7rem; margin:0 0 1.2rem 0 ;}

.thanks-section {
  color: #fff;
}

.thanks-section .card-section .box {
  padding: 2.2rem;
  /* border:none;
  border-radius:0 ; */

}

.thanks-section .card-section {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
}

.thanks-section .card-section .box h2 {
  margin-bottom: 2rem;
  margin: 0 0 2rem 0;
}

.thanks-section .card-section .box p {
  font-size: 1.2rem;
  margin: 0 0 1.2rem 0;
  line-height: 1.5rem;
}

.other-content {
  border-top: 1px solid #d5d5d56c;
  padding: 2rem 0 0 0;
  margin: 2rem 0 0 0;
}

.thanks-section .card-section .box h3 {
  font-size: 1.2rem;
}

.thanks-section .card-section .box .promise-content p {
  margin-bottom: 1.5rem;
  border-bottom: 2px dashed #8d8d8d3d;
  padding-bottom: 1rem;
}

.thanks-section .card-section .box img {
  max-width: 100%;
}

.thanks-section .card-section .box .img-box img {
  box-shadow: -72px -73px 0 -62px #084B49, 72px 73px 0 -62px #0e817e;
}

.thanks-section .card-section .box .thanks-content .content-box {
  padding: 0 0 0 1rem;
}

.thanks-section .card-section .box .promise-content p:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.car-more-info {
  color: #fff;
  text-align: left;
  padding: 0 0rem 2rem;
}

.car-more-info p {
  font-size: 1rem;
  margin: 0 0 0.8rem 0;
  display: flex;
}

.car-more-info p span {
  font-weight: bold;
  padding: 0 1rem 0 0;
  display: inline-block;
  min-width: 45%;
  text-align: right;
}

.valuation-right {
  background: #ffffff1a;
  padding: 1rem;
  border: 1px solid #626262;
  border-radius: 10px;
  height: 100%;
}
.valuation-right .form-control{ text-align: center;}
.thanks-heading {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.footer-box{ display: flex;}
/* Responsive CSS */
@media screen and (min-width: 1950px) {
  html,body{
    font-size: 20px;
  }  
}
@media screen and (min-width: 1450px) and (max-width: 1799px) {
  .guranter-section ul li {
    width: auto;
    padding: 15px 2%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
  .elite-banner-section .sell-us-text {
    margin-bottom: 35px;
    font-size: 44px;
  }

  /* .banner-footer {margin-top: 5%;} */
  .elite-banner-section .input-wrap .form-control,
  .elite-banner-section .input-wrap .form-control::placeholder,
  .instant-payment-section .input-wrap .form-control,
  .value-my-car-form .input-wrap .form-control,
  .value-my-car-form .input-wrap .form-control::placeholder {
    font-size: 1.5rem;
  }

  .value-btn {
    font-size: 1.43rem;
  }

  .input-wrap {
    max-width: 355px;
  }

}

@media screen and (min-width: 1280px) and (max-width: 1499px) {
  .elite-banner-section {
    padding-bottom: 1rem;
  }

  .elite-banner-section .sell-us-text {
    margin-bottom: 25px;
    font-size: 35px;
  }

  .banner-footer {
    margin-top: 11%;
  }

  .elite-banner-section .input-wrap .input-group-text,
  .value-my-car-form .input-wrap .input-group-text {

    color: #fff;
    padding: 0rem 1rem;
  }

  /* .banner-footer {margin-top: 5%;} */
  .elite-banner-section .input-wrap .form-control {
    padding: .2rem 1rem !important;
    height: 50px;
  }

  .elite-banner-section .input-wrap .form-control,
  .elite-banner-section .input-wrap .form-control::placeholder,
  .instant-payment-section .input-wrap .form-control,
  .value-my-car-form .input-wrap .form-control,
  .value-my-car-form .input-wrap .form-control::placeholder {
    font-size: 24px;
  }

  .value-btn {
    font-size: 23px;
  }

  .input-wrap {
    max-width: 355px;
  }

  .guranter-section ul li {
    width: auto;
    padding: 15px 2%;
    font-size: 18px;
    margin-right: 1%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
html, body{ font-size:0.75rem;}
.navbar{background-size: cover; background-position:10% bottom;padding: 10px 0px 10px;}
.navbar-brand{ margin-right: 0;}
.navbar-brand img {width: 120px;min-height: 10px; height: auto !important;}
.navbar-nav .nav-item a{font-size: 1.1rem;}
.elite-banner-section .sell-us-text{font-size: 2.5rem;margin-bottom: 1.7rem;}
.container{padding-left:4%;padding-right: 4%;}
.input-wrap {max-width: 265px;}
.elite-banner-section .input-wrap .input-group-text, .value-my-car-form .input-wrap .input-group-text{font-size: 1rem;padding: .5rem;}
.elite-banner-section .input-wrap .form-control, .elite-banner-section .input-wrap .form-control::placeholder, .instant-payment-section .input-wrap .form-control, .value-my-car-form .input-wrap .form-control, .value-my-car-form .input-wrap .form-control::placeholder{ font-size: 18px;}
.elite-banner-section .input-wrap .input-group-text img, .value-my-car-form .input-wrap .input-group-text img{width: 80%;}
.elite-banner-section .input-wrap .input-group-text p, .value-my-car-form .input-wrap .input-group-text p{font-size: 10px;}
.value-btn{background-color: #00A19B;border: inherit;border-radius: 5px;padding: 0.8rem 1rem;font-size: 1.3rem;margin-top: 25px;
font-weight: 500;}
.elite-always-help-section .left-wrap .sell-btn button{max-width: 160px;}
.guranter-section ul {list-style: none;display: flex;justify-content: center;padding: 0;margin: 0;}
.guranter-section ul li {color: #ffffff;font-size: 1rem;font-weight: 400;border-right: 1px solid #A2A4A6;position: relative;padding: 15px 10px;margin-right: 0;width: 20%;text-align: center;}
.guranter-section ul li p::before{display: block;vertical-align: middle;margin:0 auto 5px auto;}
.watch-btn::before{width: 20px;height: 20px;position: absolute;left: 14px;top: 50%;background-size: 100%;transform: translateY(-50%);}
.elite-video-section .container.pt-5{ padding-top: 0 !important;}
.card-section .box{ padding:1rem;}
.top-img {width: 5rem;height: 5rem;}
.step{ font-size: 1.5rem;}
.top-img img {width: 60%;}
.elite-video-section .content-wrap h3{margin-top: 1rem;}
.content-wrap h3{font-size: 1.5rem;}
.content-wrap p ,.elite-car-buyers-section .content-wrap p{margin-top: 1.2rem;font-size: 1.2rem;}
.elite-video-section{background: url(../images/video-section-img-mobile.png) no-repeat repeat 30% top;background-size: cover;}
.thanks-section .card-section .box .img-box img {box-shadow: -30px -30px 0 -20px #084B49, 30px 30px 0 -20px #0e817e}
.value-my-car-form .box form select.form-select{ background-size: 13px;}
.elite-car-buyers-section{ padding-top: 0 !important;}
.footer-contact-section li{background-size: 30px !important;}
.footer .social-link-list li{margin-right: 0.8rem;}
.footer-contact-section li span,.copy-right-section p,.footer-link-section li{ font-size: 1.2rem;}

}
@media screen and (min-width: 320px) and (max-width: 767px) {
html,body{ font-size:12px ;}
/* .elite-banner-section{    background: url(../images/latest-news-card-img-1.png) no-repeat 0 top; */
.elite-banner-section{    background: url(../images/mobile-banner.jpeg) no-repeat center; min-height: 670px;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 4rem;}
.navbar{background-size: auto;padding: 1rem 0px;background-position: right;}
.navbar-brand{margin: 0;}
.navbar-brand img {width: 140px;height: auto; min-height: 10px;}
.banner-info-section{ position: inherit;padding-bottom: 1rem;}
.elite-banner-section img{ display: none;}
.banner-left-wrap {max-width: 275px;}
.home-video-section .container.pt-5{ padding-top:0.5rem !important;}
.elite-video-section .watch-btn {position: relative;margin-top: -2.2rem;padding: 0.5rem 0.5rem 0.5rem 2.5rem;}
.navbar-toggler{ background: #fff;}
.offcanvas.show:not(.hiding), .offcanvas.showing{ background: #00A19B;}
.offcanvas-header{ background: #2b2b2be3;position: relative;}
.offcanvas-header .btn-close{background-color: #fff;border-radius: 0;opacity: 1;width: 100%;height:92%;max-width:41px;position: absolute;right: 0;top: 0;}
.offcanvas-body .navbar-nav{ padding: 0 !important;}
.navbar-nav .nav-item a{ margin-left: 0 !important; border-bottom:1px solid #ffffff6e ; padding-left: 1rem;}
.navbar-nav .nav-item li:last-child a{ border: none;}
.watch-btn::before{left: 7px;top: 10px;background-size: 20px;background-repeat: no-repeat;}
.guranter-section ul {list-style: none;display: flex;justify-content: center;padding: 0;margin: 0;}
.guranter-section ul li {color: #ffffff;font-size: 1rem;font-weight: 400;border-right: 1px solid #A2A4A6;position: relative;padding: 15px 10px;margin-right: 0;width: 20%;text-align: center;}
.guranter-section ul li p::before{display: block;vertical-align: middle;margin:0 auto 5px auto;}
.elite-banner-section .input-wrap .form-control, .elite-banner-section .input-wrap .form-control::placeholder, .instant-payment-section .input-wrap .form-control, .value-my-car-form .input-wrap .form-control, .value-my-car-form .input-wrap .form-control::placeholder{ font-size: 1.8rem;}
.elite-banner-section .mileage-input label{ font-size: 1.5rem;}
.elite-banner-section .mileage-input input.form-control, .elite-banner-section .mileage-input input.form-control::placeholder{ font-size: 1.8rem;}
.elite-banner-section .sell-us-text{font-size:3.5rem;font-weight: normal;margin-bottom: 1.5rem;}
.elite-banner-section .input-group img{ display: block;}
.card-section{ flex-wrap: wrap;}
.card-section .box{padding: 0.5rem 0.5rem 5px;}
.top-img img {width: 50%;}
.elite-video-section .content-wrap h3{margin-top: 1rem;font-size: 1.5rem;}
.elite-car-buyers-section .content-wrap p,.content-wrap p,.elite-car-buyers-section .top-section p,.elite-latest-news-setion .elite-latest-news-top p{ font-size: 1.2rem;}
.content-wrap p{margin-top: 1rem;}
.section-head, .elite-car-buyers-section .top-section .head, .elite-latest-news-setion .elite-latest-news-top h2,.pages-top-banner-section h2{ font-size: 2.2rem; margin-top: 0;}
.elite-always-help-section{min-height:10px;background-position: 63%;
  background-size: cover;}
.elite-always-help-section .left-wrap{ margin-top: 0 !important;}
.elite-always-help-section .left-wrap h3{ font-size: 1.5rem;}
.elite-always-help-section .left-wrap h2{ font-size: 2rem;}
.elite-always-help-section .left-wrap h2 img{ width: 25px;}
.elite-always-help-section .left-wrap h2 span{ padding-left: 25px; display: block;}
.elite-always-help-section .left-wrap .sell-btn button {max-width:55%;margin:1rem auto 0;display:block;padding: 0.5rem 1rem;}
.prestigebrands div img{margin:0 auto;}
.elite-latest-news-setion .card-section .content-wrap h3{font-size: 1.4rem;padding: 1rem 1rem;min-height: 1rem;margin: 0;}
.elite-latest-news-setion .card-section .latest-news-footer p {font-size: 0.8rem;text-align: left;color: #C8CCCE;margin: 1rem 1rem 0.5rem;}
.instant-payment-section{ padding: 0 0 1rem 0;}
.instant-payment h2{font-size: 1.7rem;}
.instant-payment p{font-size: 1.2rem;}
.car-value-section .input-group{max-width: 55%;}
.what-up-link span{width:4rem;height:4rem;font-size: 2.8rem;}
.footer-logo-section {text-align: center;padding-right: 0;margin-bottom: 2rem;padding-bottom: 2rem;border-bottom: 1px solid #a1a1a145;}
.footer-logo-section a {display: block;max-width: 200px;margin: 0 auto;}
.footer-logo-section .social-link{ margin-top: 1rem !important;}
.footer .social-link-list{ justify-content: center;}
.footer .social-link-list li:last-child{margin-right: 0 !important}
.footer-box{display:block;}
.footer-contact-section li span,.copy-right-section p,.footer-link-section li{font-size: 1.2rem;}
.col-second{margin-bottom: 2rem;padding-bottom: 2rem;border-bottom: 1px solid #a1a1a145; }
.col-second, .col-three{text-align: center;}
.footer .main-heading{margin-bottom: 1rem;}
.footer-link-section li:last-child,.footer-contact-section li:last-child{margin-bottom: 0;}
.footer-contact-section li ,.footer-contact-section li.email-icon {margin: 0 0 1.8rem 0;background-position:center top;padding-left: 0;background-size: 32px;padding-top: 40px;}
.elite-car-buyers-section .card-section .box{padding: 1.2rem 1rem 0;}
.stepper{ display: none;}
.e3step .step{ display: flex;}
.e3step{ margin-top: 1.5rem;}
.e3step .box{position: relative;}
.e3step .step{position: absolute; top:-1rem; left:-1rem;}
.faq-pages-top-banner{padding: 2rem 0;}
.faq-sub-heading:first-child{ margin-top: 0;}
.faq-qustion-section .accordion h2{padding:1rem 2.2rem 1rem 1rem;font-size: 1.3rem;}
.faq-qustion-section .accordion .content{padding: 1rem;}
.faq-qustion-section .accordion h2 span.arrow{right: 4px; font-size: 1.2rem;}
.valuation-right{ margin-top: 1.5rem;}
.notcar-page p{ font-size: 1.2rem;}
form [type="radio"]:checked+label, form [type="radio"]:not(:checked)+label, form [type="checkbox"]:checked+label, form [type="checkbox"]:not(:checked)+label{padding-left: 20px;}
.thanks-content .row .col-md-4{width: 40%;}
.thanks-content .row .col-md-8{width: 58%;}
.thanks-heading{margin-bottom: 1rem;padding-top: 1rem !important;}
.value-my-car-form .box form label,.car-more-info p,.value-my-car-form a{font-size: 1.4rem;}
.value-my-car-form .box form label.form-label span{font-size: 1.1rem;}
.value-my-car-form .box form .btn-value-car{font-size:1.4rem; margin-bottom: 0.5rem !important;}
.car-more-info{padding: 0 0rem 0.5rem;}
.value-my-car-form .box form label{ padding-bottom:0.5rem;}
.value-my-car-form .box form label,.value-my-car-form .box form .input-icon,.value-my-car-form .box form .btn-value-car{ margin: 0 1rem;width: calc(100% - 2rem) !important;}
.value-my-car-form .box form .check-box-block label{ margin: 0;}
.value-my-car-form .box form .check-box-block:first-child label{ margin-left: 1rem;}
.col-md-6:empty{ display: none;}
}

@media screen and (max-width: 580px) {
 
  .banner-left-wrap{max-width: 270px;} 
.img-box{ margin-bottom: 1.2rem;}
.car-value-section{ display: block;}
.guranter-section{ display: none;}
.car-value-section .input-group {max-width: 92%;margin: 0 auto 1rem;}
.guranter-section ul {list-style: none;display: flex;justify-content: center;padding: 0 0 0;margin: 0;flex-wrap: wrap;}
.guranter-section ul li {color: #ffffff;font-size: 1.2rem;font-weight: 400;border-right:none;border-bottom: 1px solid #a2a4a642;position: relative;padding: 1rem 0 !important;margin-right: 0;width: 100%;text-align: center;}
.guranter-section ul li:last-child{ border-bottom:none;}
.guranter-section ul li p {margin-bottom: 0;position: relative;padding-left: 0;}
.guranter-section ul li p::before {content: '';width: 30px;height: 24px;left: 0;top: 0;background-repeat: no-repeat;background-position: left center;display: inline-block;vertical-align: middle;margin-right: 0;background-size: 73%;}
.thanks-content .row .col-md-4{width: 100%;}
.thanks-content .row .col-md-8{width: 100%;}
}
@media screen and (max-width: 650px) {
  .elite-banner-section {
    min-height: 690px;
  }
}
@media screen and (max-width: 500px) {
  .elite-banner-section {
      min-height: 592px;
  }
}