<section class="jobs">
    <h1 class="main-heading mb-3">
      Jobs
    </h1>  
    <div class='table-wrapper'>
      <table cellspacing="0" cellpadding="0" width="100%" class="fold-table table">
          <thead>
              <tr>
                  <th><img src='https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/folder.png' /></th>
                  <th>Job</th>
                  <th width="22%">Job Description</th>
                  <th>
                      Type<br>
                      Stage
                  </th>
                  <th width="20%">Identification</th>
                  <th>Managed By </th>
                  <th>Sitting With</th>
                  <th>
                      Start Date<br>
                      Due Date
                  </th>
              </tr>
          </thead>        
          <tbody id="job-table-body">
            <!-- Job data will be dynamically inserted here -->
          </tbody>
      </table>
    </div>
    <script src="https://htmlportfolio.siplsolutions.com/iapproveit/js/dashBoardJobs.js"></script>
    <!-- <script src="https://htmlportfolio.siplsolutions.com/iapproveit/js/jobsStage.js"></script> -->
</section>
