<section class='sidebar-wrapper'>
    <Form>
        <!-- search items -->
        <div class="search-box">
            <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
            <Button type="submit" class='search-icon'><img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/search.png" alt=""></Button>
            <div class="form-btn d-flex justify-content-between">
                <Button variant="reset" class="btn-reset">Reset</Button>
                <Button variant="search" class="btn-search">Search</Button>
            </div>
        </div>
        <div class="search-box mt-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <Image src='https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/bar-code.png' />
                </span>
                <input type="text" class="form-control barcode-input" placeholder="Barcode" aria-label="Barcode"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <Image src='https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/cart.png' />
                </span>
                <input type="text" class="form-control barcode-input" placeholder="ProdNo" aria-label="ProdNo"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <Image src='https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/anchor.png' />
                </span>
                <input type="text" class="form-control barcode-input" placeholder="Artwork No"
                    aria-label="Artwork No" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <Image src='https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/cart.png' />
                </span>
                <input type="text" class="form-control barcode-input" placeholder="Select Asset Types"
                    aria-label="Select Asset Types" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <Image src='https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/tag.png' />
                </span>
                <input type="text" class="form-control barcode-input" placeholder="Select Tags"
                    aria-label="Select Tags" aria-describedby="basic-addon1">
            </div>

            <select class="form-select mt-3" aria-label="Default select example">
                <option selected>Select Division</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select mt-3" aria-label="Default select example">
                <option selected>Select Brand</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select mt-3" aria-label="Default select example">
                <option selected>Select Group</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select mt-3" aria-label="Default select example">
                <option selected>Status</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <h5 class='pt-3 mt-4'>More</h5>

            <div class="mb-3">
                <input type="text" class="form-control barcode-input" placeholder="Pack Weight"
                    aria-label="Pack Weight" aria-describedby="basic-addon1">
            </div>
            <select class="form-select mt-3" aria-label="Default select example">
                <option selected>Pack Measure</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select mt-3" aria-label="Default select example">
                <option selected>Pack Type</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <div class="form-btn d-flex justify-content-end">
                <Button variant="search" class="btn-search">Search</Button>
            </div>
        </div>
    </Form>
</section>