<section class='sidebar-wrapper'>
    <div class="job-leftbar ">
    <!-- job-number-section -->
        <div class="job-number-section">
        <span>9872</span>
        <span class="info-icon">Overdue</span>
        <span class="job-status">
            <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/play.png" />
        </span>
    </div>
    <!-- job-image-section -->
    <div class="job-image-section">
        <span class="job-img">
            <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/box-packaging-big.png" />
        </span>
        <button>View</button>
    </div>
    <!-- job-name-section -->
    <h4 class="job-name">Art Package - Art Launch <a href="#"><i class="fa-solid fa-pen"></i></a></h4>
    <!-- project-name-section -->
    <h4 class="project-name">Box Packaging</h4>
    <!-- job-cart-section -->
    <ul class="job-cart-section">
        <li class="job-cart">44749</li>
        <li class="job-anchor">44729</li>
        <li class="job-barcode">9314565457</li>
    </ul>
    <div class="date-section">
        <div>
            <span>Job Start</span>
            2023-04-07
        </div>
        <div>
            <span>Art Due</span>
            2023-04-13
        </div>
        <div>
            <span>Proof Due</span>
            2023-04-13 @ 5 pm
        </div>
    </div>
    <!-- job-lable-section -->
    <div class="job-label">
        <div class="job-project-name">
            <span class="job-project-label">Packaging</span>
            <span>Label</span>
        </div>
        <div class="job-status-section">
            <div class="status"><img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/play.png" /> Design</div>
            <div class="version-section">
                <span class="version">1</span>
                <button>Change</button>
            </div>
        </div>
    </div>
    <ul class="job-member-list">
        <li><div class="job-member-list-name">
            <span class="job-member-list-member">
                <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/job-profile1.png" />
            </span>
            <div>
                <span class="name">Job Manager</span>
                <span>ƒ Interact - Test Team</span>
            </div>
            </div>
            <div class="job-member-list-status">
                <span><img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/completed.png"></span>
                <span class="date">12 Mar</span>
            </div>
        </li>
        <li><div class="job-member-list-name">
            <span class="job-member-list-member">
                <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/job-profile2.png" />
            </span>
            <div>
                <span class="name">Job Manager</span>
                <span>ƒ Interact - Test Team</span>
            </div>
            </div>
            <div class="job-member-list-status">
                <span><img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/play.png"></span>
                <span class="date">12 Mar</span>
            </div>
        </li>
        <li><div class="job-member-list-name">
            <span class="job-member-list-member">
                <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/job-profile3.png" />
            </span>
            <div>
                <span class="name">Job Manager</span>
                <span>ƒ Interact - Test Team</span>
            </div>
            </div>
            <div class="job-member-list-status">
                <span><img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/time.png"></span>
                <span class="date">12 Mar</span>
            </div>
        </li>
        <li><div class="job-member-list-name">
            <span class="job-member-list-member">
                <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/job-profile1.png" />
            </span>
            <div>
                <span class="name">Job Manager</span>
                <span>ƒ Interact - Test Team</span>
            </div>
            </div>
            <div class="job-member-list-status">
                <span><img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/lock.png"></span>
                <span class="date">12 Mar</span>
            </div>
        </li>

    </ul>
    <ul class="job-approver-list">
        <li><div class="job-member-list-name">
            <ul class="job-member-list-member">
                <li>
                    <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/approvere1.png" />
                </li>
            </ul>
            <div class="job-approver-name">
                <span class="name">Stage Approver</span>
                <span>Simon Donn (Interact Pacific)</span>
                <ul class="tooltip">
                    <li>
                        <div>
                            <span class="job-name">Simon Donn</span>
                            <span class="mobile-number">3529622178</span>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            <div class="job-member-list-status">
                <span><img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/time.png"></span>              
            </div>
        </li>
    </ul>
    <ul class="job-observer-list">
        <li><div class="job-member-list-name">
        <ul class="job-member-list-member">
            <li>
                <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/approvere2.png" />
            </li>
            <li>
                <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/approvere3.png" />
            </li>
        </ul>
        <div class="job-observer-name">
            <span class="name">Stage Approver</span>
            <span>Simon Donn (Interact Pacific)</span>
            <ul class="tooltip">
                <li>
                    <div class="img">
                        <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/approvere2.png" />
                    </div>
                    <div>
                        <span class="job-name">Don John</span>
                        <span class="mobile-number">3529622178</span>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="https://htmlportfolio.siplsolutions.com/iapproveit/images/jobs/approvere3.png" />
                    </div>
                    <div>
                        <span class="job-name">Lily Oreo</span>
                        <span class="mobile-number">3529622178</span>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </li>
</ul>
</div>
</section>